<ion-app>
  <app-header [titulo]="'Inicio de sesion '"></app-header>
  
  <ion-content>
    <ion-item>
      <ion-input type="text" label ="nombre" [(ngModel)]="nombre" name="nombre" placeholder="Ingresa el nombre"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" label ="Usuario " [(ngModel)]="usuario" name="usuario"  placeholder="Ingresa el usuario"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="password" label ="contraseña"[(ngModel)]="password" name="password" placeholder="Ingresa la contraseña"></ion-input>
    </ion-item>
    <ion-button (click)="ingresar()"  expand="block" >
      Enviar
    </ion-button>
    <ion-button [routerLink]="['/crear-user']" expand="block" fill="clear" shape="round">
      Crear Usuario
    </ion-button>
    <ion-button (click)="tomarFoto()"  expand="block" >
      Camara
    </ion-button>


  </ion-content>



</ion-app>